body {
    background-color: darkcyan;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 20px;
}
.sign-up {
    padding: 0;
    margin: 0;
    background-color: green;
}

input:invalid {
    border: 2px solid red;
}